AZTEC_VERSION=5.1.0
AZTEC_NODE_URL=https://v5.testnet.rpc.aztec-labs.com
SPONSORED_FPC_ADDRESS=0x130925fbd734a252e3d8ddff87f6c346052dd5c13314eb96026b32baa1923296
AZTEC_ACCOUNT_ALIAS=noir-poker-deployer
AZTEC_CONTRACT_ALIAS=noir-poker-play-chips

# Set after deployment in apps/web or Vercel.
NEXT_PUBLIC_AZTEC_NODE_URL=https://v5.testnet.rpc.aztec-labs.com
NEXT_PUBLIC_AZTEC_PLAY_CHIPS_ADDRESS=0x
