AZTEC_NODE_URL=https://v5.testnet.rpc.aztec-labs.com
AZTEC_SERVER_WALLET_DIR=/home/user/.aztec/wallet

# web deployment
NEXT_PUBLIC_AZTEC_NODE_URL=https://v5.testnet.rpc.aztec-labs.com
NEXT_PUBLIC_AZTEC_PLAY_CHIPS_ADDRESS=0x

# rust server
AZTEC_PLAY_CHIPS_ADDRESS=0x
AZTEC_SERVER_ACCOUNT=0x
AZTEC_SPONSORED_FPC_ADDRESS=0x2ece607a8dba690c9aa4ee1d53a55286fa815543a27f9364bbaf65eb68e7315b
