DATABASE_URL=CHANGE_ME
PORT=3001
WEB_ORIGINS=https://www.example.com
BB_PATH=/usr/local/bin/bb
CHALLENGE_VK_PATH=/opt/noir-poker/apps/server/zk/challenge_v2.vk

AZTEC_NODE_URL=https://v5.testnet.rpc.aztec-labs.com
AZTEC_PLAY_CHIPS_ADDRESS=0xYOUR_PLAY_CHIPS_ADDRESS
AZTEC_SERVER_ACCOUNT=0xYOUR_SERVER_ACCOUNT
AZTEC_SERVER_WALLET_DIR=/var/lib/noir-poker/aztec-wallet
AZTEC_SPONSORED_FPC_ADDRESS=0x2ece607a8dba690c9aa4ee1d53a55286fa815543a27f9364bbaf65eb68e7315b
AZTEC_SERVER_HELPER=/opt/noir-poker/aztec/scripts/server.mjs
AZTEC_SERVER_NODE=/usr/local/bin/node
